# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.test

# VS Code
.vscode/

# JetBrains
.idea/

# Frontend
node_modules/
dist/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db